.tabela-icone{
  color: #337ab7;
  margin: 0px 5px 0px 5px;
}

.tabela-opcoes{
  width: 100px;
  text-align: center;
}

.tabla-id{
  width: 50px;
  text-align: right;
  font-weight: bold;
}

.navbar-nav li a i{
  margin-left: 5px;
  margin-right: 20px;
  font-size: 25px;
}

.navbar-nav li a b{
  font-size: 16px;
}

.content-header h1{
	display:inline-block
}

.botao-cadastrar{
	font-size: 23px;
	margin-left:20px;
	padding: 5px 10px 5px 10px;
	display:inline-block;
	border: 2px solid #3c8dbc;
	
}

@media (max-width: 356px) {
	.botao-cadastrar{
		dislay:inline;
		margin:15px 0px 15px 0px;
	}	
}

#criterios-pesquisa{
	margin:0 auto;
}

#criterios-pesquisa tr td{
	padding: 0px 20px 0px 0px;
}


.criterios-pesquisa-chk{
	width:20%;
	text-align:left;
}

dialog{
	background: none;
	border: 0px solid #d0d0d0;
	z-index:5;
	padding:0;
	overflow: auto;
	max-height:90%;
}

#dialogo-departamentos{
	min-width:40%;
}

#dialogo-departamentos .box{
	box-shadow:0px 0px 2px 2px #D0D0D0;	
	background-color: #FFFFFF;
}

#dialogo-vaga-add-prova{
	min-width:50%;
	box-shadow:0px 0px 2px 2px #D0D0D0;	
	background-color: #FFFFFF;
}


#dialogo-vaga-clonar{
	min-width:40%;
}

#dialogo-vaga-add-prova .box{
	margin:0;
}

#dialogo-vaga-add-prova textarea{
	height:0;
	min-height: 50px;
}

.table-resposiva{
	display: block;
    overflow-x: auto;
    white-space: nowrap;
}

#exibir-candidato-arquivos{
	display:flex;
	flex-wrap: wrap;
	align-items: center;
}

#exibir-candidato-arquivos :hover{
	background-color: #f1f1f1;
}

.exibir-candidato-arquivo i{
	font-size:60px;
	color: #3c8dbc; 
	margin-bottom: 10px;
	margin-top: 10px;
}

.exibir-candidato-arquivo p{
	color: #383838;
}

.exibir-candidato-arquivo{
	text-align:center;
	margin: 0px 10px 0px 10px;
}

#exibir-candidato-social{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width:100%;
	padding:0px 20px 0px 20px;
}

#exibir-candidato-social i{
	font-size:50px;
}

.exibir-candidato-social-unlinked{
	color: #ff445e;
	cursor: default;
}

#dialogo-exibir-vaga-status{
	min-width:20%;
}

#exibir-vaga-candidatos a :hover{
	background-color: #f1f1f1;
}

.exibir-vaga-candidato{
	margin:10px;
	padding:5px 10px 5px 10px;
	border: 2px solid #cecece;
	box-shadow: 0px 0px 1px 1px #f7f7f7
}

.exibir-vaga-candidato strong{
	color: #000000;
}


.exibir-vaga-candidato hr{
	margin:5px;
}