.tabela-icone{
  color: #337ab7;
}

.tabela-opcoes{
  width: 100px;
  text-align: center;
}

.tabla-id{
  width: 50px;
  text-align: right;
}

.navbar-nav li a i{
  margin-left: 5px;
  margin-right: 20px;
  font-size: 25px;
}

.navbar-nav li a b{
  font-size: 16px;
}

.content-header h1{
	display:inline-block
}

.botao-cadastrar{
	font-size: 23px;
	margin-left:20px;
	padding: 0px 10px 0px 10px;
	display:inline-block;
	border: 2px solid #3c8dbc;
	
}

@media (max-width: 356px) {
	.botao-cadastrar{
		dislay:inline;
		margin:15px 0px 15px 0px;
	}	
}

#criterios-pesquisa{
	margin:0 auto;
}

#criterios-pesquisa tr td{
	padding: 0px 20px 0px 0px;
}


.criterios-pesquisa-chk{
	width:20%;
	text-align:left;
}

dialog{
	background: none;
	border: 0px solid #d0d0d0;
	z-index:30;
}

#dialogo-departamentos{
	min-width:30%;
}

#dialogo-departamentos .box{
	box-shadow:0px 0px 2px 2px #D0D0D0;	
	background-color: #FFFFFF;
}

